
@{
    ViewBag.Title = "Customer Accounts";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}


<style>

    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container center-container">
    <div class="card">
        <div class="card-body">
            <div class="row text-lg-center">
                <h3>All Customer Accounts</h3>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row">
                <table class="tableAccounts table table-hover">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Business Name</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Action</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (var customer in ViewBag.allCustomer)
                    {
                <tr>
                    <td>@customer.FirstName @customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.BusinessName</td>
                    <td>@customer.CustomerAddress</td>
                    <td>@customer.Status</td>
                    <td>@customer.Created_at</td>
                    <td>@customer.Updated_at</td>
                    @if (customer.Status == "Active")
                    {
                        <td>
                            <a href="@Url.Action("SuspendCustomerAccount", "Management", new {id = customer.Id})" class="btn btn-success" onclick="return confirm('Are you sure you want to suspend this customer?')">Suspend</a>
                        </td>
                    }
                    else if(customer.Status == "Suspend"){

                    <td>
                        <a href="@Url.Action("UnsuspendCustomerAccount", "Management", new {id = customer.Id})" class="btn btn-warning" onclick="return confirm('Are you sure you want to Unsuspend this customer?')">Unsuspend</a>
                    </td>
                    }
                else
                {
                        <td></td>
                }

                    <td>
                        <a href="@Url.Action("DeleteCustomerAccount", "Management", new {id = customer.Id})" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this customer?')">Delete</a>
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

